[user]
    name = squarel
    email = squarelnix@gmail.com

[core]
    pager           = less
    autocrlf        = input
    safecrlf        = true
    editor          = vim
    whitespace      = trailing-space, space-before-tab

[alias]
    co     = checkout
    ci     = commit -v
    st     = status
    br     = branch
    df     = diff --patience
    dw     = diff --word-diff --patience
    dt     = difftool
    dtc    = difftool --cached
    dwc    = diff --word-diff --cached
    dfc    = diff --cached
    lg     = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    ls     = ls-files
    lol    = log --graph --decorate --pretty=format:\"%Cblue %h %C(magenta) %ad %C(cyan) %d %Creset %s %C(green)[%an]\" --date=short
    lal    = log --graph --decorate --pretty=format:\"%Cblue %h %C(magenta) %ad %C(cyan) %d %Creset %s %C(green)[%an]\" --date=short --all
    ready  = rebase -i @{u}
    type   = cat-file -t
    dump   = cat-file -p
    mergeb = merge --no-ff

[diff]
    tool = diffuse

[color]
    ui = auto

[color "branch"]
    current = green reverse
    local = green
    remote = yellow

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    add = yellow
    changed = green
    untracked = cyan

[difftool]
    prompt = false

[help]
    autocorrect = 1
